@using Kendo.Mvc.UI
@model Finansai.DAL.Transportas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transportas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DatePickerFor(model => model.Data)
                .Format("yyyy-MM-dd"))
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaiId, "Metai", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().ComboBoxFor(model => model.MetaiId)
          .DataTextField("MetaiPavadinimas")
          .DataValueField("MetaiId")
                  .DataSource(source =>
                  {
                      source.Read(read => read.Action("GetMetaiJsonResult", "Metai"));
                  })
                  .AutoBind(false)
                  .Suggest(true)
                )
                @Html.ValidationMessageFor(model => model.MetaiId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().ComboBoxFor(model => model.MenuoId)
               .DataTextField("MenesiaiPavadinimas")
               .DataValueField("MenesiaiId")
               .DataSource(source =>
                  {
                      source.Read(read => read.Action("GetMenesiaiJsonResult", "Menesiai"));
                  })
                  .AutoBind(false)
                  .Suggest(true)
                )
                @Html.ValidationMessageFor(model => model.MenuoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SavaiteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().ComboBoxFor(model => model.SavaiteId)
                .DataTextField("SavaitesPavadinimas")
                .DataValueField("SavaitesId")
                .DataSource(source =>
                  {
                      source.Read(read => read.Action("GetSavaitesJsonResult", "Savaites"));
                  })
                  .AutoBind(false)
                  .Suggest(true)
                )
                @Html.ValidationMessageFor(model => model.SavaiteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DienaId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().ComboBoxFor(model => model.DienaId)
                .DataTextField("DienosPavadinimas")
                .DataValueField("DienosId")
                .DataSource(source =>
                  {
                      source.Read(read => read.Action("GetDienosJsonResult", "Dienos"));
                  })
                  .AutoBind(false)
                  .Suggest(true)
                )
                @Html.ValidationMessageFor(model => model.DienaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MašinosPrieziura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().NumericTextBoxFor(model => model.MašinosPrieziura)
                  .Name("MašinosPrieziura")
                  .Step(0.01m)
                  .Decimals(2))
                @Html.ValidationMessageFor(model => model.MašinosPrieziura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutobusoTaksiIslaidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().NumericTextBoxFor(model => model.AutobusoTaksiIslaidos)
                .Name("AutobusoTaksiIslaidos")
                .Step(0.01m)
                .Decimals(2))
                @Html.ValidationMessageFor(model => model.AutobusoTaksiIslaidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Draudimas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().NumericTextBoxFor(model => model.Draudimas)
                .Name("Draudimas")
                .Step(0.01m)
                .Decimals(2))
                @Html.ValidationMessageFor(model => model.Draudimas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kuras, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().NumericTextBoxFor(model => model.Kuras)
                .Name("Kuras")
                .Step(0.01m)
                .Decimals(2))
                @Html.ValidationMessageFor(model => model.Kuras, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plovimas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().NumericTextBoxFor(model => model.Plovimas)
                .Name("Plovimas")
                .Step(0.01m)
                .Decimals(2))
                @Html.ValidationMessageFor(model => model.Plovimas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kita, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().NumericTextBoxFor(model => model.Kita)
                .Name("Kita")
                .Step(0.01m)
                .Decimals(2))
                @Html.ValidationMessageFor(model => model.Kita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
